#header-left, #header-right {
    display: flex;
    color: #fff;
}

#header-title {
    font-weight: 700;
    font-size: 18px;
}

#header-username {
    margin-right: 10px;
}

#header-userimg, #header-userimg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo {
    animation: App-logo-spin infinite 20s linear;
    width: 18%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}